* {
	margin: 0;
	padding: 0;
}

#pikablocks{
	background:url("http://img08.deviantart.net/3809/i/2012/178/5/d/pikachu_wallpaper_by_moustachegirl05-d553a9m.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	text-align: center;
}

body {
	font: 18px Courier;
	color: white;
	background: url("http://chloelee002.github.io/pikablocks/images/wallpaper.jpeg");
	background-size: cover; 
}
#picbox {
	margin: 0px auto;
	width: 640px;
}
#boxcard {
	z-index: 1;
	margin: 1px 0 0;
}
#boxcard div{
	background: url("http://img08.deviantart.net/3809/i/2012/178/5/d/pikachu_wallpaper_by_moustachegirl05-d553a9m.jpg");
	background-size: contain;
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px;
	padding: 5px;
	border: 2px solid white;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
	z-index: 2;
}
#boxcard div img {
	display: none;
	border-radius: 1px;
	z-index: 3;
}
#boxbuttons {
	text-align: center;
	margin: 20px;
	display: block;
}
#boxbuttons .button {
	text-transform: uppercase;
	background: gray;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
}
#boxbuttons .button:hover {
	background: #999;
}

img{
	height: 100%;
	width: 100%;
}